<h2 mat-dialog-title>Create New Department</h2>


<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <input matInput
                placeholder="Department Name"
               formControlName="name">
    </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="Department number"
            formControlName="number">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Manager ID#"
                formControlName="currentManager">
        </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>