<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Departments</title>
</head>
<body>
	<h1>
		Departments
	</h1>
	<table>
		<tr>
			<th>Dept. No</th>
			<th>Department Name<th>
		</tr>
		<tr th:each="dept: ${departments}">
	      	<td th:text="${dept.deptNumber}"></td>
	        <td th:text="${dept.deptName}"></td>
      	</tr>
	</table>
</body>